<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>

  <% unless current_user.friend_or_pending?(user) || current_user == user %>
  <%= form_for(user.friendships.new, url: friendship_path(user)) do |form| %>
    <%= form.text_field :user_id, id: :user_id, class: 'form-control d-none', value: current_user.id %>
    <%= form.text_field :friend_id, id: :user_id, class: 'form-control d-none', value: user.id %>
    <%= form.submit 'nvite Friend' %>
    <%end%>
  <% end %>
</li>
